@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: 229 100% 95%;
  --foreground: 229 5% 0%;
  --card: 229 50% 90%;
  --card-foreground: 229 5% 10%;
  --popover: 229 100% 95%;
  --popover-foreground: 229 100% 0%;
  --primary: 229 84% 4.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 229 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 191 30% 85%;
  --muted-foreground: 229 5% 35%;
  --accent: 191 30% 80%;
  --accent-foreground: 229 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 229 5% 90%;
  --border: 229 30% 50%;
  --input: 229 30% 18%;
  --ring: 229 84% 4.9%;
  --radius: 0.5rem;
}
.dark {
  --background: 229 50% 5%;
  --foreground: 229 5% 90%;
  --card: 229 50% 0%;
  --card-foreground: 229 5% 90%;
  --popover: 229 50% 5%;
  --popover-foreground: 229 5% 90%;
  --primary: 229 84% 4.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 229 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 191 30% 15%;
  --muted-foreground: 229 5% 60%;
  --accent: 191 30% 15%;
  --accent-foreground: 229 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 229 5% 90%;
  --border: 229 30% 18%;
  --input: 229 30% 18%;
  --ring: 229 84% 4.9%;
  --radius: 0.5rem;
}
